.colors-type__column-right
    .font-type
        p.font-type__name.font-type__name_family_h1= 'H1' 
        p.title_family_h1= 'This one is the sub-section or widget title'
    .font-type
        p.font-type__name.font-type__name_family_h2= 'H2'
        p.title_family_h2= 'Next one is the item title inside widgets'
    .font-type
        p.font-type__name.font-type__name_family_h3= 'H3'
        p.title_family_h3= 'This is a label or CTA text'
    .font-type
        p.font-type__name.font-type__name_family_body= 'Body'
        p.title_family_body= 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
    
   
    